body {
  padding: 0;
  margin: 0;

  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  color: #202020;
}

p {
  line-height: 1.5em;
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: #7D90CE;
}

section {
  width: 800px;
  margin: auto;
  padding: 0 5px;
}

section h1 {
  font-size: 30px;
}

#index {
  table-layout: fixed;
  width: 100%;
}

#index date {
  float: right;
  color: grey;
}

#index td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #7D90CE;
}

header {
  text-align: center;
  font-size: 2.5em;
  margin: 20px 0;
}

header a {
  display: block;
  color: #202020;
  text-decoration: none;
}

header a:nth-child(2) {
  font-size: 0.4em;
}

colgroup col:nth-child(2) {
  width: 110px;
}

.right {
  float: right;
}

.left {
  float: left;
}

@media (max-width: 845px) {
  section {
    width: 95%;
  }
}
