<!doctype>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/base-min.css">
        <link href="/css/style.css" rel="stylesheet">

        <title>{{ page.title }}</title>
    </head>
    <body>
        <header>
            <a class="large" href="/">frerom</a>
            <a class="medium" href="/about">Who am I?</a>
            <a class="small" href="/feed.xml">rss</a>
        </header>
        <section>
            {{ content }}
        </section>
    </body>
</html>
